
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Admin Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav-bar.css" />
  <link rel="stylesheet" href="/styles/order-container.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/admin-order-confirm.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <!-- nav-bar -->
  <nav>
    <span>Admin: All Orders</span>
    <span class="nav-right-label">
    </span>
  </nav>

  <section id="order-container">
  </section>

</body>
