header {
  position: absolute;
  top: 100px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/menu-title.jpg);
  background-size: contain;
  z-index: 1;
}
