body {
  background:skyblue;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Food Squares Grid
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  width: 80%;
  margin-top: 250px;
}
