nav {
  display: flex;
  position: fixed;
  top: 0;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  background-color: #0e0f14;
  color: #cacae1;
  padding: 0 1.5em;
  align-items: center;
  z-index: 2;


  span {
    
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }

  #reviewOrderBtn{
    height: 50%;
    font-weight: bold;
    color: green;
  }
}

.nav-right-label {
  display: flex;
  height: inherit;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}


/* Responsive Design */
/* Desktop Formatting*/

@media only screen and (min-width:1200px) {
  nav {
    background-color: #0e0f14;
  }
}
