// Review Order Popup
.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);

  .footer {
    display: flex;
    justify-content: space-between;
  }
}

// Pop-up content
.popup-content {
  background-color: #fefefe;
  margin: 25% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  position: relative;

  .close {
    float: right;
    font-weight: bold;
    color: salmon;
    width: auto;
  }

}
